.light-dashboard {
    .dashboard {
        $gap: 10px;
        $columns: 7;

        display: flex;
        flex-wrap: wrap;
        gap: $gap;
        align-items: center;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        .light {
            width: calc((100% / #{$columns}) - (#{$gap} + 2px));
            padding-top: calc((100% / #{$columns}) - (#{$gap} + 2px));
            border: 1px #000 solid;
            border-radius: 50%;
            background-color: black;
            color: #fff;
        }
    }

    .buttons {
        text-align: center;
        margin-top: 20px
    }

    a {
        font-size: 20px;
        text-align: right;
        position: absolute;
        bottom: 50px;
        right: 50px;
    }
}